.root {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid purple;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        margin: 20px 0;
        background-color: grey;
    }
}

.field {
    margin-bottom: 10px;
}

.oauth {
    display: flex;
    flex-wrap: wrap;
}

.oauthButton {
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: #eeecec;
    }

    & img {
        margin-right: 5px;
    }
}
