.root {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: none;
    margin-bottom: 10px;

    &:focus {
        outline: 1px solid purple;
    }
}
